.header-tools .btn-language {
    color: #E1CA96;
}
.header-tools i{
    margin-left: 5px;
}

.custom-nav .nav-list li a.menu-links{
    font: normal normal normal 20px Ara ES Nawar;
    line-height: 80px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.shape-back{
    position: absolute;
    top:20px;
    right:20px;
}
.shape-back2{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 500px;
    margin-top: 70px;
}
.shape-back img{
    width: 250px;
}

.logo-header{
    z-index: 999;
}

.office-text p{
    font-size: 16px;
}

.sub-menu-section{
    padding: 15px !important;
}

.title h2{
    font: normal normal normal 44px/42px Ara ES Nawar;
color: #26694A;
text-shadow: 0px 3px 6px #00000029;
padding-top: 25px;
}
.title {
    margin-top: -30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: -12px 16px 11px #00000029;
border-radius: 37px;
width: 400px;
text-align: center;
height: 100px;
}

.gate-card{
    background: transparent linear-gradient(298deg, #FFFFFF 0%, #7BAE7F 100%) 0% 0% no-repeat padding-box;
box-shadow: 22px 28px 25px #00000029;
border-radius: 38px;
padding: 20px;
text-align: center;
height: 250px;

}
.gate{
    margin-top: 230px !important;
}
.gate-card i{
font-size: 23px;
color:#004324;
margin-bottom: 15px;
}

.gate-card p{
    font: normal normal bold 22px/31px Nimbus Sans L;
letter-spacing: 0px;
color: #000000;
}
.section-title h2{
    font: normal normal normal 44px/42px Ara ES Nawar;
letter-spacing: 0px;
color: #004324;
}
.form-div{
    background: transparent linear-gradient(295deg, #FFFFFF 0%, #7BAE7F 100%) 0% 0% no-repeat padding-box;
box-shadow: 22px 28px 25px #00000029;
border-radius: 38px;
padding: 30px;
}

.form-div input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #004324;
border-radius: 18px;
height:60px;
width: 400px;
}
.form-div select{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #004324;
    border-radius: 18px;
    height:60px;
    width: 400px;
}
.form-div label{
    font: normal normal bold 20px/28px Nimbus Sans L;
letter-spacing: 0px;
color: #141414;
}
.input::placeholder{
    font: normal normal bold 20px/28px Nimbus Sans L;
letter-spacing: 0px;
color: #7F7F7F;
}
.upload{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 17px 18px #0043242E;
border-radius: 37px;
width: 150px;
height: 150px;
display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.upload-file{
    background: #004324 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 17px;
padding: 8px 35px;
text-align: center;
color:#fff;
}
.btn{
    text-align: center;
    width: 100%;
    margin:0;
    padding: 0;
    width: 400px;
}
.register{
    margin-top: 20px;
    background: #7BAE7F 0% 0% no-repeat padding-box;
box-shadow: 10px 15px 17px #00000061;
border-radius: 18px;
text-align: center;
color:#000;
font-weight: 600;
display: block;
   height: 60px;
   font-size: 20px;
   padding-top: 15px;
}

.up-file{
    padding: 0;
    margin:0;
}

.contact-inquiry{
    background: #004324 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 6px #00000038;
border-radius: 22px;
width: 150px;
top:20px;
}
.contact-info-{
    background: #004324 0% 0% no-repeat padding-box;
}
.contact-info- a {
    color:#fff;
}

.container-fluid{
    padding: 0;
}

.contact-info- .inquiry-card-nn ul li{
    display: flex;
    text-align: right;
}