<header class="nav-bg-w main-header navfix fixed-top menu-white">

    <div class="container-fluid">
        <div class="topbar">
            <div class="tools">
                <ul class="header-tools">
                    <li class="contact-show"><a href="#" class="btn-language"><i class="fa-solid fa-globe"></i>عربي</a>
                        <div class="contact-inquiry">
                            <div class="contact-info-">
                                <div class="inquiry-card-nn ">
                                    <ul>
                                        <li class="mb0"><img src="/assets/img/majma/saudi_arabia_round_icon_64.png" alt="us office" class="flags-size"> <a href="#" >عربي</a></li>
                                        <li class="mb0"><img src="/assets/img/majma/united_states_of_america_round_icon_64.png" alt="us office" class="flags-size"> <a href="#" >English</a></li>

                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        </li>
                        <li>
                            <div class="search">
                                <input type="search" name="search" id="search" class="form-control" placeholder="بحث">
                            </div>
                        </li>
                        <li>
                            <a href="#" class="login">تسجيل الدخول</a>
                        </li>
                </ul>
            </div>
        </div>
     


            <div class="title">
                <h2>منصة القبول</h2>
            </div>

        <!--Mobile Menu-->

    </div>
</header>
	<!--Start Location-->
	<section class="gate ">
		<div class="container">
			<div class="row justify-content-center upset shape-numm">
				<div class="col-lg-3 col-sm-6  wow fadeInUp mb-3" data-wow-delay=".2s">
					<div class="gate-card">
                      <div class="icon">
                      <img src="/assets/img/majma/checkmark-circle.png" alt="">
                      </div>
						<div class="gate-text">
							<p>شهادة الثانوية العامة أو ما يعادلها، مصدقة من الملحقية الثقافية للمملكة العربية السعودية في بلد صدور الشهادة</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6  wow fadeInUp mb-3" data-wow-delay=".2s">
					<div class="gate-card">
                      <div class="icon">
                        <img src="/assets/img/majma/checkmark-circle.png" alt="">
                      </div>
						<div class="gate-text">
<p>
    جواز سفر ساري المفعول بحد أدنى 6 أشهر من تاريخ التقديم
</p>						</div>
					</div>
				</div>
                <div class="col-lg-3 col-sm-6  wow fadeInUp mb-3" data-wow-delay=".2s">
					<div class="gate-card">
                      <div class="icon">
                        <img src="/assets/img/majma/checkmark-circle.png" alt="">
                      </div>
						<div class="gate-text">
							<p>
                                شهادة الخلو من السوابق الأمنية حديثة الإصدار بما لايقل عن 5 أشهر من تاريخ التقديم
                            </p>
						</div>
					</div>
				</div>
                <div class="col-lg-3 col-sm-6  wow fadeInUp mb-3" data-wow-delay=".2s">
					<div class="gate-card">
                      <div class="icon">
                        <img src="/assets/img/majma/checkmark-circle.png" alt="">
                      </div>
						<div class="gate-text">
							<p>
                                تقرير طبي يؤكد أن المتقدم خاليا من الأمراض ولائق صحياً بما لايقل عن ثلاثة أشهر من تاريخ التقديم
                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="container">
            <div class="shape-back">
                <img src="/assets/img/majma/back.png" alt="">

            </div>
        </div>
        <div class="container">
            <div class="shape-back2">
                <img src="/assets/img/majma/graduation male.png" alt="">

            </div>
        </div>
	</section>
	<!--End Location-->

    <section class="form pad-tb">

        <div class="container">
          
           <div class="form-div">
            <div class="section-title mb-5">
                <h2>بيانات الطالب</h2>
            </div>
            <div class="row">
                <div class="col-lg-2 photo">

                    <div class="upload">
                        <img src="/assets/img/majma/grad.png" alt="">
                    </div>
                  <div class="up-file mb-3">
                    <a href="#" class="upload-file">ملف الصورة</a>
                  </div>
                </div>
                <div class="col-lg-5">

                    <label for="nom">الاسم كامل</label>
                    <input type="text" class="form-control mb-3" id="nom" placeholder="الاسم كامل">
                    <label for="mail">البريد الالكتروني</label>
                    <input type="email" class="form-control mb-3" id="mail" placeholder="البريد الالكتروني">
                    <label for="pays">الدولة</label>
                    <input type="text" class="form-control mb-3" id="pays" placeholder="الدولة">
                    <label for="tel">رقم الجوال</label>
                    <input type="tel" class="form-control mb-3" id="tel" placeholder="رقم الجوال">
                    <label for="lang">اللغة</label>
                    <input type="text" class="form-control mb-3" id="lang" placeholder="اللغة">
                    <label for="emp">المهنة</label>
                    <input type="text" class="form-control mb-3" id="emp" placeholder="المهنة">
                    <label for="dad">مهنة الأب</label>
                    <input type="text" class="form-control mb-3" id="dad" placeholder="مهنة الأب">
                </div>
                <div class="col-lg-5">
                    <label for="cin">الهوية - جواز السفر</label>
                    <input type="text" class="form-control mb-3" id="cin" placeholder="الهوية - جواز السفر">
                    <label for="sex">الجنس</label>
                   <select name="sex" id="sex" class="form-control">
                    <option value="male"> male</option>
                    <option value="female">Female</option>
                   </select>
                    <label for="pays">المدينة</label>
                    <input type="text" class="form-control mb-3" id="pays" placeholder="المدينة">
                    <label for="mou">المؤهل</label>
                    <input type="text" class="form-control mb-3" id="mou" placeholder="المؤهل">
                    <label for="lvl">اللغة</label>
                    <input type="text" class="form-control mb-3" id="lvl" placeholder="مستوى اللغة">
                    <label for="date">تاريخ الميلاد</label>
                    <input type="date" class="form-control mb-3" id="date" placeholder="تاريخ الميلاد">
                    <label for="mom">مهنة الأم</label>
                    <input type="text" class="form-control mb-3" id="mom" placeholder="مهنة الأم">

                  <div class="btn">
                    <a href="#" class="register">التسجيل</a>
                  </div>
                </div>
            </div>
           </div>
        </div>
    </section>
	<!--Start Footer-->
