<app-header></app-header>
<section class="accept-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <div class="bloc">
                        <img src="/assets/img/majma/une.png" alt="" class="mb-3">
                        <p class="mb-3">أن يكون المتقدم حاصلا على الثانوية العامة أو ما يعادلها</p>
                       <div class="text-center">
                        <img src="/assets/img/majma/noun-certificate-1306193.png" alt="" class="mb-3">
                       </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bloc">
                        <img src="/assets/img/majma/deux.png" alt="" class="mb-3">
                        <p class="mb-3">ألا يكون قد حصل على منحة دراسية أخرى من إحدى المؤسسات التعليمية في المملكة</p>
                        <div class="text-center">
                        <img src="/assets/img/majma/noun-scholar-5264365 (1).png" alt="" class="mb-3">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bloc">
                        <img src="/assets/img/majma/trois.png" alt="" class="mb-3">
                        <p class="mb-3">ألا يكون مفصولا من إحدى المؤسسات التعليمية في المملكة</p>
                        <div class="text-center">
                        <img src="/assets/img/majma/Groupe 50.png" alt="" class="mb-3">
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">

                    <div class="col-lg-4">
                        <div class="bloc">
                            <img src="/assets/img/majma/quatre.png" alt="" class="mb-3">
                            <p class="mb-3">	أن يكون لائقا صحيا ( إرفاق فحص طبي )</p>
                           <div class="text-center">
                            <img src="/assets/img/majma/Groupe 51.png" alt="" class="mb-3">
                           </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bloc">
                            <img src="/assets/img/majma/cinq.png" alt="" class="mb-3">
                            <p class="mb-3">أن يكون عمر المتقدم/ـة يتراوح ما بين (18-26) سنة</p>
                            <div class="text-center">
                            <img src="/assets/img/majma/Groupe 70.png" alt="" class="mb-3">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bloc">
                            <img src="/assets/img/majma/six.png" alt="" class="mb-3">
                            <p class="mb-3">اجتياز المقابلة الشخصية التي تجرى عن بعد للمقبولين مبدئيا</p>
                            <div class="text-center">
                            <img src="/assets/img/majma/Groupe 53.png" alt="" class="mb-3">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="-cta-btn mt70">
                        <div class="free-cta-title v-center zoomInDown wow" data-wow-delay="1.4s">
                           <a href="#" class="btn-accept"> للقبول اضغط هنا <i class="fas fa-chevron-right fa-icon"></i></a>
                        </div>
                     </div>
                     <div class="container">
                        <div class="shape-back">
                            <img src="/assets/img/majma/back.png" alt="">
            
                        </div>
                    </div>
                </div>
                </section>
<app-footer></app-footer>