.bloc{
    background: transparent linear-gradient(295deg, #FFFFFF 0%, #7BAE7F 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 6px #00000038;
border-radius: 38px;
padding: 20px;
height:250px;
margin-bottom: 30px;
}
.accept-section{
    padding-top: 150px;
    padding-bottom: 100px;
}

.bloc p{
    color:#131313;
    font-size: 22px;
    height:70px;
}
.btn-accept{
    background-color: #E1CA96 !important;
    color:#004324;
    padding: 20px 85px;
    border-radius: 33px;
    font-weight: 600;
    font-size: 24px;
    box-shadow: 0px 2px 6px #00000038;

}