<app-header></app-header>
<section class="about-dg- sec-dark pt130">
    <div class="container-fluid">
       <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-5">
             <div class="common-heading-2 text-l">
                <h2 class="mb20">من نحن ؟</h2>
                <div class="container-fluid seperator-green">
                    <img src="/assets/img/majma/line-green.png" alt="">
                </div>
                <p>المركز النموذجي لتعليم العربية لغة ثانية، بإشراف مباشر من مجمع الملك سلمان
                     العالمي للغة العربية، يهدف إلى الريادة في تعليم للغة العربية وثقافتها، من خلال نشر اللغة العربية وثقافتها عالميا، عبر تقديم تعليم نوعي نموذجي،
                     في بيئة ثقافية جاذبة، تمكن المتعلمين من التواصل باللغة العربية، وتساعدهم في الاندماج في
                     المجتمع السعودي، وتيسر تعلم اللغة العربية. والاطلاع على تراثها وعاداتها وتقاليدها،
                     والتعرف إلى مناطقها السياحية والأثرية. كما يقدم المركز منحا تعليمية تنافسية،
                     عبر استقطاب الطلاب المتميزين الراغبين في تعلم العربية لغة ثانية حول العالم. </p>
             </div>
          </div>
          <div class="col-lg-5 v-center h-scl-">
             <div class="img-block hover-scale h-scl-base">
                <img src="/assets/img/majma/WhatsApp Image 2023-03-19 at 14.55.06.png" alt="about" class="img-fluid upset"/>
                <div class="shape-dg-1 dg-hero-shp1"><img src="/assets/images/shape/dot-shape.png" alt="shape" class="img-fluid"></div>
             </div>
          </div>
          <div class="col-lg-1"></div>
       </div>
       <div class="container">
        <div class="shape-back">
            <img src="/assets/img/majma/back.png" alt="">

        </div>
    </div>
       <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-8">
             <div class="common-heading-2 text-l">
                <h2 class="mb20">رؤيتنا</h2>
                <div class="container-fluid seperator-green">
                    <img src="/assets/img/majma/line-green.png" alt="">
                </div>
               <p>الريادة العالمية في تعليم للغة العربية وثقافتها  </p>
             </div>
          </div>
         
          <div class="col-lg-1"></div>
       </div>
       
       <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-8">
             <div class="common-heading-2 text-l">
                <h2 class="mb20">رسالتنا</h2>
                <div class="container-fluid seperator-green">
                    <img src="/assets/img/majma/line-green.png" alt="">
                </div>
               <p>نشر اللغة العربية وثقافتها عالميا، عبر تقديم تعليم نوعي نموذجي، في بيئة ثقافية جاذبة  </p>
             </div>
          </div>
         
          <div class="col-lg-1"></div>
       </div>
       <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-8">
             <div class="common-heading-2 text-l">
                <h2 class="mb20">أهدافنا </h2>
                <div class="container-fluid seperator-green">
                    <img src="/assets/img/majma/line-green.png" alt="">
                </div>
                <div class="itm-media-object mt40 tilt-3d">
                    <div class="media">
                        <div class="img-ab- base" data-tilt data-tilt-max="20" data-tilt-speed="1000"><img src="/assets/img/majma/Groupe 378.png" alt="icon" class="layer"></div>
                        <div class="media-body">
<p>	توفير تعليم نموذجي لغير الناطقين باللغة العربية يمكنهم من التواصل والحديث مع الآخرين باللغة العربية، من خلال تقديم برنامج نوعي مصمّم، وفقًا لأفضل المعايير العالمية في تدريس اللغات</p>                        </div>
                    </div>
                    <div class="media mt40">
                        <div class="img-ab- base" data-tilt data-tilt-max="20" data-tilt-speed="1000"><img src="/assets/img/majma/Groupe 379.png" alt="icon" class="layer"></div>
                        <div class="media-body">
                            <p>	نشر اللغة العربية والثقافة العربية السعودية عالميا، عبر الاطلاع على تراثها وعاداتها وتقاليدها، والتعرف إلى مناطقها السياحية والأثرية، من خلال تقديم الأنشطة الإثرائية وبرامج الرحلات والزيارات، المعززة للتعليم واكتساب الثقافة العربيةالسعودية</p>
                        </div>
                    </div>
                    <div class="media mt40">
                        <div class="img-ab- base" data-tilt data-tilt-max="20" data-tilt-speed="1000"> <img src="/assets/img/majma/Groupe 380.png" alt="icon" class="layer"></div>
                        <div class="media-body">
                            <p>	تقديم المنح التعليمية عبر استقطاب الطلاب المتميزين الراغبين في تعلم العربية لغة ثانية حول العالم</p>
                        </div>
                    </div>
                    <div class="media mt40">
                        <div class="img-ab- base" data-tilt data-tilt-max="20" data-tilt-speed="1000"> <img src="/assets/img/majma/Groupe 381.png" alt="icon" class="layer"></div>
                        <div class="media-body">
                            <p>	توفير بيئة لغوية ثقافية جاذبة، تساعد الطلاب والطالبات على الاندماج في المجتمع السعودي، وتيسر تعلم اللغة العربية</p>
                        </div>
                    </div>
                </div>
             </div>
          </div>
         
          <div class="col-lg-1"></div>
       </div>
    </div>
 </section>
<app-footer></app-footer>