.mt-100{
    margin-top: 100px;
}
.common-heading-2 h2{
    text-align: right;
}

.seperator-green {
   text-align   : right;
   padding: 0;
}
.common-heading-2 p{
    color:#FFFFFF;
    font-size: 20px;
    line-height: 34px;
    text-align: right;
}
.itm-media-object .media .img-ab-{
    background: transparent;
    margin-left: 15px;
}