<footer>
	
    <div class="footer-row2">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-sm-6  ftr-brand-pp">
                    <a class="navbar-brand mt30 mb25 f-dark-logo" href="#"> <img src="/assets/img/majma/logo blanc.png"
                            alt="Logo" /></a>
                    <a class="navbar-brand mt30 mb25 f-white-logo" href="#"> <img src="/assets/img/majma/logo blanc.png"
                            alt="Logo" /></a>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-3 col-sm-6">
                    <h5>تواصل معنا</h5>
                    <div class="footer-social-media-icons">
                        <a href="javascript:void(0)" target="blank"><i class="fab fa-facebook"></i></a>
                        <a href="javascript:void(0)" target="blank"><i class="fab fa-twitter"></i></a>
                        <a href="javascript:void(0)" target="blank"><i class="fab fa-linkedin"></i></a>
                        <a href="javascript:void(0)" target="blank"><i class="fab fa-youtube"></i></a>
                    </div>
                
                </div>
                <div class="copyright text-center">
                    <p>حقوق النشر 2023 ،جميع الحقوق محفوظة لمجمع الملك سلمان العالمي للغة العربية </p>
                </div>
            </div>
        </div>
    </div>


</footer>
