
  <!--Start login Form-->
  <section class="login-pagee pad-tb">
  <div class="row pad-tb">
    <div class="col-lg-6 logo-img">
<div class="logo text-center">
    <img src="/assets/img/majma/logo blanc.png" alt="Logo" class="mega-darks-logo">

</div>
    </div>
    <div class="col-lg-6">
      <div class="v-center m-auto">
        <div class="login-form-div">        
          <h4 class="mb40">تسجيل الدخول</h4>
          <div class="form-block">
            <form id="contact-form" method="post" action="#">
              <div class="fieldsets row">
                <div class="col-md-12 form-group">
                  <input id="form_name" type="text"  placeholder="البريد الألكتروني" required="required">
                </div>
                <div class="col-md-12 form-group"><input  type="password"   placeholder="كلمة المرور" required="required">
                </div>
                <div class="col-md-6 form-group v-center text-right"><a href="#" class="psforgt">هل نسيت كلمة المرور ؟</a>     </div>
              </div>
              <div class="fieldsets row mt20 ">
                <div class="col-md-12 form-group v-center mb-20">
                 <a routerLink="/gate"> <button type="submit" class="btn-login">تسجيل الدخول </button></a>
                </div>
              
              </div>            
             
            </form>
          </div>
        </div>      
        </div>      
    </div>
  </div>
    </section>
    <!--End login Form-->


  
