.login-pagee{
    background: transparent linear-gradient(95deg, #004324 0%, #004324 25%, #014425 26%, #26694A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 11px #00000029;
height:100vh;
}

form input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #7BAE7F;
border-radius: 11px;
}

.logo-img{
    margin: auto;
}
.mb-20{
    margin-bottom: 20px;
}
.btn-login{
    background: transparent linear-gradient(250deg, #7BAE7F 0%, #26694A 100%) 0% 0% no-repeat padding-box;
box-shadow: 2px 9px 20px #00000040;
border-radius: 11px;
border: none;
height: 60px;
color:#fff;
font-weight: 600;
}

.btn-new{
border: 3px solid #26694A;  
  border-radius: 11px;
height: 60px;
color:#000;
font-weight: 600;
}
.btn-new:hover{
    border: 3px solid #26694A;  
      border-radius: 11px;
    height: 60px;
    color:#000;
    font-weight: 600;
    }
.psforgt{
    font-size: 14px;
    color: #26694A;
}

.login-form-div h4{
    font: normal normal normal 34px/42px Ara ES Nawar;
letter-spacing: 0px;
color: #26694A;
text-shadow: 0px 3px 6px #0043244D;
}
.login-form-div{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: -16px 3px 48px #00000073;
border-radius: 55px;
padding-top: 100px;
padding-bottom: 100px;
max-width: 520px;
}