<app-header></app-header>
<section class="about-dg- sec-dark pt130">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="common-heading-2 text-l">
                    <h2 class="mb20">تواصل معنا </h2>
                    <div class="container-fluid seperator-green mb-3">
                        <img src="/assets/img/majma/line-green.png" alt="">
                    </div>
                    <div class="banner">
                    <p>    التواصل مع مجمع الملك سلمان العالمي للغة العربية                    </p>
</div>
                </div>
                <div class="contact">
                    <ul>
                        <li>
                            <i class="fa-solid fa-envelope"></i>    info@ksaa.gov.sa 
                        </li>
                        <li>
                            <i class="fa-solid fa-phone-flip"></i>      +966 53 133 2032
                        </li>
                    </ul>
                    <h4>تابعنا على وسائل التواصل الإجتماعي</h4>
                    <div class="img-socials">
                        <img src="/assets/img/majma/Groupe 24.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 v-center h-scl-">
              <form action="">
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" class="form-control mb-3" placeholder="الاسم">
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control mb-3" placeholder="الموضوع">
                    </div>
                </div>
                    <input type="tel" name="tel" id="tel" placeholder="رقم النقال" class="form-control mb-3">
                    <input type="email" name="mail" placeholder="البريد الإلكتروني" class="form-control mb-3">
                  <textarea name="desc" id="desc" class="form-control mb-3 " placeholder="الرسالة" style="height:130px"></textarea>
              </form>
              <div class="valid">
                <a href="#" class="btn-send">إرسال </a>
              </div>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="container">
            <div class="shape-back">
                <img src="/assets/img/majma/back.png" alt="">

            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
