.mt-100{
    margin-top: 100px;
}
.common-heading-2 h2{
    text-align: right;
}

.seperator-green {
   text-align   : right;
   padding: 0;
}
.common-heading-2 p{
    color:#FFFFFF;
    font-size: 20px;
    line-height: 34px;
    text-align: right;
}
.bloc{
    background: transparent linear-gradient(295deg, #FFFFFF 0%, #7BAE7F 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 6px #00000038;
padding: 20px;
height:350px;
margin-bottom: 30px;
}


.bloc p{
    color:#131313;
    font-size: 22px;
    height:70px;
}
.bloc h4{
    color:#004324;
}
.bloc ul li {
    color:#000000;
}
.check{
    text-align: center;
}
.check a{
    background-color: #004324;
    color:#fff;
    border-radius: 37px;
    padding: 5px 35px;
}

.banner{
    background-color: #7BAE7F;
    padding: 20px;
  border-radius: 25px;
}
.banner p{
    font-size: 32px;
    color:#004324;
}
.contact {
    margin-top: 20px;
    color:#fff;
    margin-bottom: 20px;
}
.contact li{
    padding-bottom: 15px;
}
.contact i{
    color:#fff;
    font-size: 24px;
    margin-left: 15px;
}
.img-socials{
    margin-top: 25px;
}
.img-socials img{
    width: 30%;
}

form input{
    background-color: transparent !important;
    border: 1px solid white;
    border-radius: 25px;
    height:70px;
    font-weight: 600;
}
form textarea{
    background-color: transparent !important;
    border: 1px solid white;
    border-radius: 25px;
    height:70px;
    font-weight: 600;
}
form input::placeholder{
    color:#fff;
}
form textarea::placeholder{
    color:#fff;
}

.btn-send{
    background-color: #E1CA96;
    border-radius: 26px;
    padding: 15px 50px;
    color:#000;
    font-weight: 600;
    float: left;
}

.about-dg-{
    padding-bottom: 100px;
}