
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header{
    box-shadow: 0px 3px 11px #00000029;
    background: transparent linear-gradient(95deg, #004324 0%, #004324 25%, #014425 26%, #26694A 100%) 0% 0% no-repeat padding-box;


}
