<header class="nav-bg-w main-header navfix fixed-top menu-white">

    <div class="container-fluid">
        <div class="header">
            <div class="topbar">
                <div class="tools">
                    <ul class="header-tools">
                        <li class="contact-show"><a href="#" class="btn-language"><i
                                    class="fa-solid fa-globe"></i>عربي</a>
                            <div class="contact-inquiry">
                                <div class="contact-info-">
                                    <div class="inquiry-card-nn hrbg">
                                        <ul>
                                            <li class="mb0"><img src="/assets/img/majma/saudi_arabia_round_icon_64.png"
                                                    alt="us office" class="flags-size"> <a href="#">عربي</a></li>
                                            <li class="mb0"><img
                                                    src="/assets/img/majma/united_states_of_america_round_icon_64.png"
                                                    alt="us office" class="flags-size"> <a href="#">English</a></li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="search">
                                <input type="search" name="search" id="search" class="form-control" placeholder="بحث">
                            </div>
                        </li>
                        <li>
                            <a href="#" class="login">تسجيل الدخول</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="logo-header">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="dsk-logo"><a class="nav-brand" href="./">
                                <img src="/assets/img/majma/logo.png" alt="Logo" class="mega-white-logo" />
                                <img src="/assets/img/majma/logo.png" alt="Logo" class="mega-darks-logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">

                        <div class="custom-nav" role="navigation">
                            <ul class="nav-list">
                                <li class="sbmenu">
                                    <a routerLink="" class="menu-links">الرئيسية</a>

                                </li>
                                <li class="sbmenu">
                                    <a routerLink="/weare" routerLinkActive="router-link-active" class="menu-links">من
                                        نحن
                                    </a>

                                </li>
                                <li class="sbmenu">
                                    <a routerLink="/acceptance" class="menu-links">القبول </a>

                                </li>
                                <li class="sbmenu rpdropdown">
                                    <a routerLink="/programme" class="menu-links">البرنامج </a>

                                </li>
                                <li class="sbmenu rpdropdown">
                                    <a routerLink="/env" class="menu-links">بيئة الدراسة </a>

                                </li>
                                <li class="sbmenu rpdropdown">
                                    <a href="#" class="menu-links">الخدمات الالكترونية</a>
                                    <div class="nx-dropdown menu-dorpdown">
                                        <div class="sub-menu-section">
                                            <div class="sub-menu-center-block">
                                                <div class="sub-menu-column smfull">
                                                    <ul>
                                                        <li><a href="/login"> الإدارة </a> </li>
                                                        <li><a href="/login">المعلمون </a> </li>
                                                        <li><a href="/login">الطلاب </a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- mobile + desktop - sidebar menu- dark mode witch and button -->
                            <ul class="nav-list right-end-btn">

                                <li class="hidemobile"><a routerLink="/contact" class="btn-br">تواصل معنا </a> </li>
                                <!-- <li class="hidedesktop darkmodeswitch">
                        <div class="switch-wrapper"> <label class="switch" for="niwax"> <input type="checkbox"
                                    id="niwax" /> <span class="slider round"></span> </label> </div>
                    </li> -->

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Mobile Menu-->
        <nav id="main-nav">
            <ul class="first-nav">
                <li>
                    <a href="#">Home</a>

                </li>
                <li>
                    <a href="#">Pages</a>

                </li>
                <li>
                    <a href="#">Shortcodes</a>

                </li>
                <li>
                    <a href="#">Portfolio</a>

                </li>
                <li>
                    <a href="#">Blog</a>

                </li>
            </ul>

        </nav>
    </div>
</header>