.mt-100{
    margin-top: 100px;
}
.common-heading-2 h2{
    text-align: right;
}

.seperator-green {
   text-align   : right;
   padding: 0;
}
.common-heading-2 p{
    color:#FFFFFF;
    font-size: 20px;
    line-height: 34px;
    text-align: right;
}
.itm-media-object .media .img-ab-{
    background: transparent;
    margin-left: 15px;
}

.col-lg-6-cus{
    width: 33%;
}
@media(max-width:1200px){
    .col-lg-6-cus{
        width: 50%;
        margin-bottom: 15px;
    }
}
@media (max-width:991px){
    .col-lg-6-cus{
        width: 40%;
        margin: 15px;
    }
}
@media(max-width:767px){
    .col-lg-6-cus{
        width: 90%;
        margin: 15px;
        text-align: center;
    }
}
.one{
    background-image: url('/assets/img/majma/Groupe\ 384.png');
    background-position: center;
    background-size: cover;
height: 600px;
}
.two{
    background-image: url('/assets/img/majma/coup-moyen-femme-travaillant-ordinateur.png');
    background-position: center;
    background-size: cover;
height: 600px;
}
.three{
    background-image: url('/assets/img/majma/nathan-dumlao-xPHmmVKS8lM-unsplash.png');
    background-position: center;
    background-size: cover;
height: 600px;
}
.four{
    background-image: url('/assets/img/majma/conferenciere-musulmane-faisant-presentation-dans-hall-atelier-salle-audience-conference-demander-aux-participants-audience-conference-evenement-forma.png');
    background-position: center;
    background-size: cover;
height: 600px;
}
.five{
    background-image: url('/assets/img/majma/femme-musulmane-porte-casque-aide-ordinateur-portable-parle-ses-collegues-du-rapport-vente-lors-appel-video-tout-travaillant-distance-depuis-maison-dans-salon.png');
    background-position: center;
    background-size: cover;
height: 600px;
}
.six{
    background-image: url('/assets/img/majma/Groupe\ 385.png');
    background-position: center;
    background-size: cover;
height: 600px;
}
.service-sec-list{
    position: relative;
}
.service-sec-list h5{
    position: absolute;
    bottom: 50px;
    text-align: center;
    color: #fff;
    right: 30%;
    font-size: 24px;
}
.service-sec-list:hover h5{
    position: absolute;
    bottom: 150px;
    text-align: center;
    color: #fff;
    right: 30%;
    font-size: 24px;
}
.service-sec-list:hover p{
    position: absolute;
    bottom: 50px;
}
.service-sec-list p{
    color: #fff;
    text-align: right;
}

.service-section-prb{
    margin-top: 10px;
}