<app-header></app-header>
<section class="about-dg- sec-dark pt130">
    <div class="container-fluid">
       <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-5">
             <div class="common-heading-2 text-l">
                <h2 class="mb20">تعلّم العربية</h2>
                <div class="container-fluid seperator-green">
                    <img src="/assets/img/majma/line-green.png" alt="">
                </div>
               <p>
                طوّر مهاراتك في اللغة العربية بدروس لغوية مخصصة وفردية مع معلمي اللغة العربية من الناطقين الأصليين بها 
               </p>
               <p>
                دورات اللغة العربية الفصحى
 للمتخرجين / المتدربين السابقين / متدربين لاول مرة 
               </p>
             </div>
          </div>
          <div class="col-lg-5 v-center h-scl-">
             <div class="img-block hover-scale h-scl-base zoomInDown fadeInUp">
                <img src="/assets/img/majma/femme-musulmane-moderne-hijab-dans-salle-bureau.png" alt="about" class="img-fluid upset"/>
                <div class="shape-dg-1 dg-hero-shp1"><img src="/assets/images/shape/dot-shape.png" alt="shape" class="img-fluid"></div>
             </div>
          </div>
          <div class="col-lg-1"></div>
       </div>

       <div class="container">
        <div class="shape-back">
            <img src="/assets/img/majma/back.png" alt="">

        </div>
    </div>
    </div>
 </section>
 <section class="service-section-prb pad-tb">
    <div class="container">
       <div class="row upset">
          <div  data-tilt data-tilt-max="5" data-tilt-speed="1000" class="col-lg-6-cus wow fadeInUp" data-wow-delay=".2s">
            <div class="service-sec-list one zoomInDown " data-wow-delay="1.4s">
                <h5 class="mb10">شهر اللغة العربية</h5>
               
                <p>Lorem Ipsum is text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
             </div>
          </div>
          <div  data-tilt data-tilt-max="5" data-tilt-speed="1000" class="col-lg-6-cus wow fadeInUp" data-wow-delay=".4s">
            <div class="service-sec-list  two">
                <h5 class="mb10">شهر اللغة العربية</h5>
               
                <p>Lorem Ipsum is text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
             </div>
          </div>
          <div data-tilt data-tilt-max="5" data-tilt-speed="1000" class="col-lg-6-cus wow fadeInUp" data-wow-delay=".6s">
            <div class="service-sec-list  three">
                <h5 class="mb10">شهر اللغة العربية</h5>
               
                <p>Lorem Ipsum is text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
             </div>
          </div>
          <div  data-tilt data-tilt-max="5" data-tilt-speed="1000" class="col-lg-6-cus mt30- wow fadeInUp" data-wow-delay=".8s">
            <div class="service-sec-list   four">
                <h5 class="mb10">شهر اللغة العربية</h5>
               
                <p>Lorem Ipsum is text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
             </div>
          </div>
          <div  data-tilt data-tilt-max="5" data-tilt-speed="1000" class="col-lg-6-cus mt30- wow fadeInUp" data-wow-delay="1s">
            <div class="service-sec-list   five">
                <h5 class="mb10">شهر اللغة العربية</h5>
               
                <p>Lorem Ipsum is text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
             </div>
          </div>
          <div  data-tilt data-tilt-max="5" data-tilt-speed="1000" class="col-lg-6-cus mt30- wow fadeInUp" data-wow-delay="1.2s">
            <div class="service-sec-list   six">
                <h5 class="mb10">شهر اللغة العربية</h5>
               
                <p>Lorem Ipsum is text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
             </div>
          </div>
       </div>
      
    </div>
 </section>
<app-footer></app-footer>