body{
    direction: rtl !important;
    background: transparent linear-gradient(224deg, #004324 0%, #7BAE7F 100%) 0% 0% no-repeat padding-box !important;

}


.custom-nav .nav-list li a.menu-links{
    color:#fff !important;
    font-weight: 600;
    font-size: 18px !important;
}


section{
    margin-top: 100px;
}
.shape-back{
    position: absolute;
    top:0px;
    right:20px;
}
.shape-back img{
    width: 250px;
}