<app-header></app-header>
	<!--Start Hero-->
	<section class="hero-section dark-bg1">
		<div class="text-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-6 v-center">
						<div class="header-heading">
							<h1 class="wow fadeInUp" data-wow-delay=".2s">مركز مجمع الملك سلمان العالمي للغة العربية
							</h1>
							<img src="/assets/img/majma/sep.png" alt="" class="mt-10 mb-20">
							<p class="wow fadeInUp" data-wow-delay=".4s">توفير تعليم نموذجي لغير الناطقين باللغة العربية
								يمكنهم من التواصل والحديث مع الآخرين باللغة العربية .</p>
							<div class="btns">
                                <a href="#" class="btn-main bg-3 " data-wow-delay=".6s">بوابة  القبول </a>

								<a href="#" class="btn-main bg-1 "  data-wow-delay=".6s" >منصة الطالب </a>
								<a href="#" class="btn-main bg-2 " data-wow-delay=".6s">منصة المعلم </a>
								<a href="#" class="btn-main bg-4 " data-wow-delay=".6s">رابطة الخارجيين</a>
							</div>

						</div>
					</div>
					<div class="col-lg-4 v-center">
						<div class="single-image wow fadeIn text-center" data-wow-delay=".5s">
							<img src="/assets/img/majma/bf.png" alt="web development" class="img-fluid" />
						</div>
					</div>
					<div class="col-lg-1"></div>

				</div>
			</div>
		</div>
        <div class="container">
            <div class="shape-back">
                <img src="/assets/img/majma/back.png" alt="">

            </div>
        </div>
	</section>
	<!--End Hero-->
	<!--Start About-->

	<!--End Enquire Form-->
	<!--Start Location-->
	<section class="our-office pad-tb">
		<div class="container">
			<div class="row justify-content-center upset shape-numm">
				<div class="col-lg-4 col-sm-6 shape-loc wow fadeInUp" data-wow-delay=".2s">
					<div class="office-card">
						<div class="img" data-tilt data-tilt-max="4" data-tilt-speed="1000">
							<img src="/assets/img/majma/Groupe 229.png" alt="rome" class="img-fluid" />
						</div>
						<div class="office-text">
							<p>دبلوم تعليم اللغة العربية للناطقين بغيرها: يتضمن بناء المعايير الخاصة بمهارات </p>
							<a href="javascript:void(0)" target="blank" class="btn-outline more">المزيد </a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 shape-loc wow fadeInUp" data-wow-delay=".4s">
					<div class="office-card">
						<div class="img" data-tilt data-tilt-max="4" data-tilt-speed="1000">
							<img src="/assets/img/majma/conferenciere-musulmane-faisant-presentation-dans-hall-atelier-salle-audience-conference-demander-aux-participants-audience-conference-evenement-forma.png" alt="sydney" class="img-fluid" />
						</div>
						<div class="office-text">
							<p>يستهدف المجمع إنشاء واستدامة وتطوير معمل ابتكار أدوات تعليم اللغة العربية.</p>
							<a href="javascript:void(0)" target="blank" class="btn-outline more">المزيد </a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 shape-loc wow fadeInUp" data-wow-delay=".6s">
					<div class="office-card mb0">
						<div class="img" data-tilt data-tilt-max="4" data-tilt-speed="1000">
                            <img src="/assets/img/majma/Groupe 228.png" alt="New York" class="img-fluid" />
						</div>
						<div class="office-text">
							<p>مجمع الملك سلمان العالمي للغة العربية يحتفي باليوم العالمي للغة العربية بنيويورك</p>
							<a href="javascript:void(0)" target="blank" class="btn-outline more">المزيد</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Location-->
<app-footer></app-footer>