.header-tools .btn-language {
    color: #E1CA96;
}
.header-tools i{
    margin-left: 5px;
}


.shape-back{
    position: absolute;
    top:20px;
    right:20px;
}
.shape-back img{
    width: 250px;
}

.logo-header{
    z-index: 999;
}

.office-text p{
    font-size: 16px;
}

.sub-menu-section{
    padding: 15px !important;
}

.dark-bg1{
    background: transparent linear-gradient(224deg, #004324 0%, #7BAE7F 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 15px #00000029;
}
