<app-header></app-header>
<section class="about-dg- sec-dark pt130">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="common-heading-2 text-l">
                    <h2 class="mb20">برنامج المركز النموذجي لتعليم العربية </h2>
                    <div class="container-fluid seperator-green">
                        <img src="/assets/img/majma/line-green.png" alt="">
                    </div>
                    <p>
                        اكتشف دروس اللغة العربية المناسبة لك عبر تقديم تعليم نوعي نموذجي
                    </p>

                </div>
            </div>
            <div class="col-lg-5 v-center h-scl-">
                <div class="img-block hover-scale h-scl-base zoomInDown fadeInUp">
                    <img src="/assets/img/majma/prog.png" alt="about" class="img-fluid upset" />
                    <div class="shape-dg-1 dg-hero-shp1"><img src="/assets/images/shape/dot-shape.png" alt="shape"
                            class="img-fluid"></div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="container">
            <div class="shape-back">
                <img src="/assets/img/majma/back.png" alt="">

            </div>
        </div>
    </div>
</section>

<section class="accept-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="bloc color1">
                    <h4>
                        برنامج اصول التربية
                    </h4>
                  <ul>
                    <li>
                        <p>4 ساعات</p>
                    </li>
                    <li>
                        <p> 8 حصص شهريا </p>
                    </li>
                    <li>
                        <p>مدة الحصة 30 دقيقة</p>
                    </li>
                  </ul>
                  <div class="check">
                    <a href="#">إشترك الأن </a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bloc color2">
                    <h4>
                        التدريب المهني                    </h4>
                  <ul>
                    <li>
                        <p>4 ساعات</p>
                    </li>
                    <li>
                        <p> 8 حصص شهريا </p>
                    </li>
                    <li>
                        <p>مدة الحصة 30 دقيقة</p>
                    </li>
                  </ul>
                  <div class="check">
                    <a href="#">إشترك الأن </a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bloc color3">
                    <h4>
                        العربية للمبتدئين
                    </h4>
                  <ul>
                    <li>
                        <p>4 ساعات</p>
                    </li>
                    <li>
                        <p> 8 حصص شهريا </p>
                    </li>
                    <li>
                        <p>مدة الحصة 30 دقيقة</p>
                    </li>
                  </ul>
                  <div class="check">
                    <a href="#">إشترك الأن </a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bloc color4">
                    <h4>
                        أهمية التغذية
                    </h4>
                  <ul>
                    <li>
                        <p>4 ساعات</p>
                    </li>
                    <li>
                        <p> 8 حصص شهريا </p>
                    </li>
                    <li>
                        <p>مدة الحصة 30 دقيقة</p>
                    </li>
                  </ul>
                  <div class="check">
                    <a href="#">إشترك الأن </a>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3">
                <div class="bloc color4">
                    <h4>
                        برنامج اصول التربية
                    </h4>
                  <ul>
                    <li>
                        <p>4 ساعات</p>
                    </li>
                    <li>
                        <p> 8 حصص شهريا </p>
                    </li>
                    <li>
                        <p>مدة الحصة 30 دقيقة</p>
                    </li>
                  </ul>
                  <div class="check">
                    <a href="#">إشترك الأن </a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bloc color3">
                    <h4>
                        برنامج اصول التربية
                    </h4>
                  <ul>
                    <li>
                        <p>4 ساعات</p>
                    </li>
                    <li>
                        <p> 8 حصص شهريا </p>
                    </li>
                    <li>
                        <p>مدة الحصة 30 دقيقة</p>
                    </li>
                  </ul>
                  <div class="check">
                    <a href="#">إشترك الأن </a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bloc color2">
                    <h4>
                        برنامج اصول التربية
                    </h4>
                  <ul>
                    <li>
                        <p>4 ساعات</p>
                    </li>
                    <li>
                        <p> 8 حصص شهريا </p>
                    </li>
                    <li>
                        <p>مدة الحصة 30 دقيقة</p>
                    </li>
                  </ul>
                  <div class="check">
                    <a href="#">إشترك الأن </a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bloc color1">
                    <h4>
                        برنامج اصول التربية
                    </h4>
                  <ul>
                    <li>
                        <p>4 ساعات</p>
                    </li>
                    <li>
                        <p> 8 حصص شهريا </p>
                    </li>
                    <li>
                        <p>مدة الحصة 30 دقيقة</p>
                    </li>
                  </ul>
                  <div class="check">
                    <a href="#">إشترك الأن </a>
                  </div>
                </div>
            </div>
        </div>
      
    </div>
</section>
<app-footer></app-footer>