.mt-100{
    margin-top: 100px;
}
.common-heading-2 h2{
    text-align: right;
}

.seperator-green {
   text-align   : right;
   padding: 0;
}
.common-heading-2 p{
    color:#FFFFFF;
    font-size: 20px;
    line-height: 34px;
    text-align: right;
}
.bloc{
    background: transparent linear-gradient(295deg, #FFFFFF 0%, #7BAE7F 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 6px #00000038;
padding: 20px;
height:350px;
margin-bottom: 30px;
}


.bloc p{
    color:#131313;
    font-size: 22px;
    height:70px;
}
.bloc h4{
    color:#004324;
}
.bloc ul li {
    color:#000000;
}
.check{
    text-align: center;
}
.check a{
    background-color: #004324;
    color:#fff;
    border-radius: 37px;
    padding: 5px 35px;
}

.color1{
border-top:30px solid #FCAA67;
}
.color2{
border-top:30px solid #26694A;
}
.color3{
border-top: 30px solid #7BAE7F;
}
.color4{
border-top:30px solid #E1CA96;
}